/* Home Section_1 - Hero 1.0 >*/ 

.hero_section{
    position: relative;
    background: url("../Assets/main-bg.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

/* Home parallax 4.1 ....> */

.bg_parallax_scroll{
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
}

/* Home section_2 */

.shop_section5{
    padding: 100px 0;
    background: rgb(255, 255, 255);
}
.shop_section5 h2{
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: -1px;
    color: chocolate;
}
.shop_section5 p{
    font-size: 1.125rem;
    padding-right: 10%;
    color: chocolate;
    margin-bottom: 40px;
}
.brand_section5{
    height: 200px;
    padding: 40px 0 40px;
    background: rgb(247, 66, 96);
    overflow: hidden;
}
.brand_section5 h3{
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.brand_section5 .brand_img{
    width: 180px;
    height: auto;
}
.carousel.slide .carousel-inner .carousel-caption{
    position: relative;
    right: unset;
    left: unset;
}

/* section3  */

.S1{
    background-color: aqua;
}
















